{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }


}

  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Department Management Home Page</h6>
    </div>
    <div class="panel-heading d-flex justify-content-between align-items-center">
      <h3 class="panel-title">Department List</h3>
      <a href="{% url 'add_department' %}" class="btn btn-secondary">Add Department</a>

    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for d in departments %}
      <tr>

         <td>{{ d.get_name }}</td>
          <td>{{ d.description }}</td>
<!--        <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>-->
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete_department' d.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}

{% include "hospital/footer.html" %}
