{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
<br><br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <a href="/doctor-view-appointment" class="btn btn-primary btn-block mb-4">
        View Appointment
      </a>
    </div>

    <div class="col-md-8">
      <a href="/doctor-delete-appointment" class="btn btn-warning btn-block mb-4">
        Delete Appointment
      </a>
    </div>

<br>
</div>
</div>

<br><br><br><br><br>


{% endblock content %}
